@font-face {
    font-family: FuenteFelix;
    src: url('./../fuentes/HappyMonkey-Regular.ttf');
}
@font-face{
    font-family: ManuscritaFelix;
    src: url("./../fuentes/ComforterBrush-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("./../fuentes/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("./../fuentes/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto Light";
    src: url("./../fuentes/Roboto-Light.ttf");

}
@font-face {
    font-family: Nunito;
    src:url("./../fuentes/Nunito-Black.ttf");
}
body{
    font-family: 'Roboto Light', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', serif;
    margin-left: 1em;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding:0;
}
.code{
    background-color: rgb(191, 211, 248);
    font-family: 'Courier New', Courier, monospace;
    margin:1em 2em;
    padding-inline: 2em;
    padding-block: 1em;
    white-space: break-spaces;
}
p{
    margin-bottom: 10px;
    margin-inline: 2.5em;
    text-align: justify;
}

li{
    margin-bottom: 10px;
    margin-left: 3.5em;
}
footer{
    margin-top: 20px;
}
.centrado{
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    margin-block: 1em;
}
td:nth-child(1){
    padding-right: 5em;
}

tr:nth-child(odd){
    background-color: rgba(100, 100, 100, 0.3);
    
}
thead tr:nth-child(1){
    background-color: dodgerblue;
    font-weight: bold;
    color:white;
    /* font-variant: small-caps; */
    font-size: 16pt;
}
table,tr,td{
    border-collapse: collapse;
}
th{
    padding: 1em 0;
    text-align: start;
    text-indent: 1em;
}
td{
    padding:1em;
}
.tablaCentrada{
    display: flex;
    justify-content: center;
    padding: 2em;
}
a{
    text-decoration: none;
    color:black;
}
.fuenteFelix{
    font-family: FuenteFelix;
}
.manuscritaFelix{
    font-family: ManuscritaFelix;
    font-size:2rem;
}
@media screen and (min-width: 1050px) {
    .code{
        white-space: pre-wrap;
    }
}